.button {
  background-color: rgb(169, 169, 169);
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 20.8px;
  font-weight: 200;
  cursor: pointer;
  width: 238.797px;
  text-align: center;
  align-items: center;
  padding: 40px 15px;
  border-radius: 4px;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 1em;
  margin: 3px;
}

@media only screen and (max-width: 650px) and (min-width: 321px){
  .button {
    width: 100px;
    font-size: medium;
    flex-wrap: wrap;
  }
}